<div class="container">
  <div class="row">
    <h4>Vamos Jogar </h4>
    <div input-field>
      <input type="text">
      <label>Áreas das Perguntas</label>
    </div>
    <div>
      <button type="button" name=""> Historia</button>
      <button type="button" name="">Portugues</button>
      <button type="button" name="">Portugues</button>
      <button type="button" name="">Esporte</button>
      <button type="button" name="">Conhecimentos Gerais</button>
    </div>
  </div>

  <div input-field>
    <input type="text">
    <label>Pergunta</label>
  </div>
  <div>
    <label> Enunciado da Pergunta</label>
  </div>
  <div>
    <button type="label" name=""> a)</button><br>
    <button type="label" name="">b)</button><br>
    <button type="button" name="">c)</button><br>
    <button type="button" name="">d)</button><br>
    <button type="button" name="">e)</button><br>
  </div>
</div>

</div>
